$colors: (
  'white': #eee,
  'sky': #9bf,
  'blue': #07d,
  'navy': #036,
  'red': #c22,
  'black': #222,
  'yellow': #fd4,
  'gold': #ea3,
  'green': #0a0,
  'claret': #904,
);


$theme-main: #608;
$theme-main-dark: #304;
$theme-main-bg: #102;
$theme-light-bg: #f7f7f7;
$theme-secondary: #ec4;



@each $name, $hex in $colors {
  @debug "#{$name} saturation: #{saturation($hex)}";
  @debug "#{$name} hue: #{hue($hex)}";
  @debug "#{$name} lightness: #{lightness($hex)}";
}
