@import 'index';

.home {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	column-gap: 2rem;

	&__leagues {
		.league {
			margin: 1rem;
			padding: 1rem;
			border: 1px solid $theme-main;
			border-radius: 1rem;
			display: grid;
			justify-items: flex-start;
			align-items: center;
			grid-template-rows: 2fr 1fr 1fr; // repeat(3, 1fr);
			grid-template-columns: 1fr 5fr;
			grid-template-areas:
			"logo title1"
			"logo title2"
			"logo title3";
			column-gap: 1rem;
			
			.logo {
				grid-area: logo;
				justify-self: center;
			}
			@for $num from 1 through 3 {
				.title#{$num} {
					grid-area: #{"title#{$num}"};
				}
			}
	}
		
	}

}