.l-home {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	column-gap: 2rem;
	height: calc(100% - 6rem); // should be a layout style, not only a home style

	&__leagues {
		overflow-y: scroll;
	}

	&__matches {
		overflow-y: scroll;
		.match {
			display: grid;
    	grid-template-columns: 37.5% 10% 5% 10% 37.5%;
			margin: 1.5rem 0;
    	padding: 0.5rem 0;
    	border-top: 1px solid black;
		}
	}

}
